# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
.env

# Distribution / packaging
dist/
build/
*.egg-info/

# PyCharm
.idea/

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# Model files
*.h5
*.pkl

# Matplotlib
.DS_Store

# Cache files
.cache/